<!DOCTYPE html>
  <html lang="en">
    <head>
      <% include ./header %>
    </head>

<div class="profile">
  <h3 class="profile_name">Welcome <%=user.full_name%></h3>

    <div class="row profile-info">
            <div class="col-md-6">
                <div class="card-image">
                  <img id="user-img" src="http://67.media.tumblr.com/ec8060063d40d085ae89352e8890f8be/tumblr_o7az3bNG6C1rbibvmo1_1280.jpg">
                  <h2 class="profile-title"><%=user.full_name%></h2>
                  <div class="card-action">
                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>

                <div class="col-md-6 card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <a class="btn waves-effect waves-light newUserButton newuser-icon indigo darken-4" href="/profile/newDog">Add Fido
                  <i class="fa fa-paw" aria-hidden="true"></i></a>

              </div>

              <a href="/users" class="waves-effect waves-light btn indigo darken-4">
                Admin options <i class="fa fa-lock" aria-hidden="true"></i>
              </a>
          </div>

<%# ===================================%>
<%# user option to edit his/her info%>
<%# ===================================%>


<%# ===================================%>
<%# carrousel%>
<%# ===================================%>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->


<!-- Wrapper for slides -->

<div class="carousel-inner" role="listbox">
	<%for(var i=0; i<dogs.length; i++){%>
		<%if(i===0){%>
	<div class="item active">
		<%}else{%>
			<div class="item">
				<%}%>
		<img class="carousel-img" src=<%=dogs[i].dog_img%> alt="" />
		<div class="carousel-caption">
			<h3><%=dogs[i].dog_name%></h3>
			<p><%=dogs[i].dog_desc%></p>
		</div>
	</div>
	<%}%>

</div>

<!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" id="myBtn" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>



    <footer>
      <% include ./footer %>
    </footer>
  </body>
</html>
